body {
    font-family: 'Segoe UI', sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.container {
  max-width: 1600px;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 20px;
    width: 95%;
    max-width: 1200px;
    margin: 5px auto;
    box-sizing: border-box;
    justify-items: center;
}

.product-card {
    flex: 1 1 250px;
    max-width: 250px;
    min-height: 380px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 15px;
    text-align: center;
    font-size: small;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: scale(1.02);
}

.product-card img {
    width: 90%;
    height: 180px;
    object-fit: contain;
    display: block;
    /* background: #f9f9f9; */
    border-radius: 8px;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product-card img:hover {
    transform: scale(1.1);
}

.product-card h2 {
    font-size: 1.1rem;
    margin: 15px 0 5px;
    color: #222;
}

.product-card .rating {
    font-size: 1.2rem;
    color: #ffcc00;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 0.95rem;
    color: #555;
}